{% extends 'base.html' %}
{% block container %}
<section class="border p-4 text-center mb-4">
    <section class="text-center">


        <hr class="my-4">

        <h3>About Us</h3>

        <hr class="my-4">
        
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
                <h5>Pekerja Pabrik</h5>

                <p class="small text-muted text-uppercase mb-2">
                    Tekstil, Sandang, & Kulit
                </p>

                <h6>Sektor Sepatu</h6>

                <p>
                    Kami adalah para pekerja pabrik atau yang lebih sering disebut
                    (BURUH), yang bekerja di pabrik sepatu ADIDAS. keseharian kami
                    sama halnya seperti anak sekolah dimana harus masuk pagi
                    pukul 7.00 dan pulang pukul 17.00. Kami sering menyebut kami
                    ini sebagai siswa SMA 75. Masuk jam 7 pagi dan pulang jam 5 sore.

                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <h5></h5>

                <p class="small text-muted text-uppercase mb-2">

                </p>

                <h6></h6>

                <p>

                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <h5></h5>

                <p class="small text-muted text-uppercase mb-2">

                </p>

                <h6></h6>

                <p>

                </p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>
</section>
{% endblock %}