{% extends 'base.html' %}
{% load static %}
{% block container %}
<div class="row row-cols-1 row-cols-md-1 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="https://mdbootstrap.com/img/new/standard/city/041.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">
                    {{ blog.title|upper }}
                </h5>
                <p class="card-text">
                    {{ blog.description|safe }}
                </p>
            </div>
            <div class="card-footer">
                ​<table class="table-responsive -sm table-borderless">
                    <tr>
                        <td>
                            <a href="{% url 'blog-list' %}" class="btn btn-light btn-rounded ripple-surface">
                                Back
                            </a>

                        </td>
                        <td>
                            <a href="{% url 'blog-update' blog.id %}" class="btn btn-light btn-rounded ripple-surface">
                                Update
                            </a>
    
                        </td>
                        <td>
                            <a data-mdb-toggle="modal" data-mdb-target="#exampleModal"
                                class="btn btn-light btn-rounded ripple-surface">
                                Delete
                            </a>
    
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Warning!
                </h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure want to delete <b>{{blog.title|title}}</b> ?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                    cancel
                </button>
                <form method="POST" action="{% url 'blog-delete' blog.id %}">
                    {% csrf_token %}
                    <input type="submit" value="delete" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}